/* Base
html
  overflow-y: scroll

body
  background: #ffffff
  font-family: 'Noto Sans KR', sans-serif
  color: #333333
  font-size: 16px

.input-error
  border: 2px dashed red
.is-increasing, .increaser 
  background-color: green
.is-decreasing, .decreaser 
    background-color: red

.card
  width: 50%
  float: left
  