<ng-analytics-auth label="Hallo:&nbsp;" hide-on-auth="true" auth-container="embed-api-auth-container"></ng-analytics-auth>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">굿닥 실시간 지표<h1>
    </div>
    <div class="col-md-6" ng-repeat="card in cards">
      <h2>{{card.title}}</h2>
      <div ng-if="card.container">
          <ng-analytics-active-users label="활성 사용자 수 :" increase-class="increaser" decrease-class="decreaser" active-users-container="{{card.container}}" default-ids="card.defaultIds" auth-container="embed-api-auth-container"></ng-analytics-active-users>
      </div>
      <div ng-if="!card.container">
          <iframe src="http://www.goodoc.co.kr/nginx_status" width="100%" height=""></iframe>
      </div>
    </div>
  </div>
</div>
